# **Introduction to Python Programming**

* Keywords
* Variables and initialisations
* Variable types and casting
* Basic maths operation
* Conditional Statements
* Loops in python (for/while)
* Functions 
* Lambda Function

In [ ]:
!python --version

Python 3.7.12

# Part 1:

## **Keywords**

The Python language reserves a small set of keywords that designate special language functionality. No object can have the same name as a reserved word.

For example, in Python 3.6.9, there are 33 reserved keywords, You can see this list any time by typing **help("keywords")** . They are all entirely lowercase, except for **False**, **None**, and **True**. 
Keywords must be used exactly as shown below.

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## **Variables and initialisations**

Python has no specific command for declaring a variable.

A variable is created the moment you first assign a value to it.

### **Creating variables**

A variable is created the moment you first assign a value to it. In python, variables don't need to be declared with any particular type,  Python will find it on its own.

In [ ]:
#assignment operator (=)
a = 10
print('Value of a is: ', a)

Value of a is:  10

In [ ]:
a = 12 #reassignment
print('Value of a is: ',a)

Value of a is:  12

### **Rules for valid variable names**

For variable names convention there are a
few rules that you must follow. Variable names may contain **uppercase** and **lowercase letters** (A–Z, a–z), **digits** (0–9), and **underscores**
(_), but they cannot begin with a digit.

However it's considered best pratice that names are lowercase.

**Avoid using words that have special meaning in Python like int and str**

For example, each of the following is a valid Python variable name:

> **variable1**

> **_a1p4a**

> **list_of_names**

invalid python variable name:

> **2myvar = 2**

> **my-var = 4**

> **my var = 6**

If a variable is composed by multiple words, we commonly write them in
lower_case_with_underscores( number_of_students). Variable names are case-sensitive (**name**, **Name** and **NAME** are three different variables)

In [ ]:
my var = 2

SyntaxError: ignored

## **Variables Types and Casting**

### **Built-in Data Type**

In programming, data type is an important concept. Variables can store data of different types, and different types can do different things.

The common data types include:

> **Text Type:	str**

> **Numeric Types:	int, float, complex**

> **Sequence Types:	list, tuple, range**

> **Mapping Type:	dict**

> **Set Types:	set**

> **Boolean Type:	bool**

### **Get the type**

You can the data type of a variable with the **type()** function.

In [ ]:
a =5
b = [1,2]
c='AMMI'

In [ ]:
print('Type of a: ', type(a))
print('Type of b: ', type(b))
print('Type of c: ', type(c))

Type of a:  <class 'int'>
Type of b:  <class 'list'>
Type of c:  <class 'str'>

In [ ]:
isinstance(a, float) #check if a has a specific type

False

### **Int**

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

### **Float**

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
a=5
print(type(a + 0.0)) # how it is done (casting?)

<class 'float'>

### **Strings**

Strings are sequence of letters in a specific order. Meaning that we can use indexing to access a specific character in a string.

In python, they are surrounded by either single quotation marks, or double quotation marks.

**'hello'** is the same as **"hello"**.

You can display a string literal with the print() function:

In [ ]:
print("This is a string")
print('This is a string')

We can also directly create a string in a cell, it will automatically output strings.

In [ ]:
# Be careful with quotes!
'I'm using single quotes, but this will create an error'

The reason for the error above is because the single quote in I'm stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [ ]:
"Now I'm ready to use the single quotes inside a string!"

In [ ]:
# Another alternative using backslash!
'I\'m using single quotes, but this will create an error'

### String Format:

if you want your output string to be in  specified format for example you want the integers inside the string to have 2 digits only you can use string formatting as follows:

#### Using (format) function

In [ ]:
price=4
print("For only {:02d} dollars!".format(price))

For only 04 dollars!

In [ ]:
#what if price =4.254? and your string output price as 4.25 ..what to place inside the brackets?
#your code here

#### f-Strings (Python 3.6+)

In [ ]:
a = 5
b = 10
print(f'Five plus ten is {a + b} and not {2 * (a + b)}.')

Five plus ten is 15 and not 30.

In [ ]:
#Try to convert the example with format function to f-String

#### String Basics
We can also perform some operations on string:

In [ ]:
sentence = "I'm a beginner in Python Programming Language."

In [ ]:
len(sentence ) # Get the length of a string

46

len() function counts all of the characters in the string, including spaces and ponctuation.

#### String Indexing

In [ ]:
sentence[0] # Get the character at position 0

'I'

In [ ]:
sentence[46] #Out of range index

IndexError: ignored

We can use a : to perform **slicing** which grabs everything up to a designated point. 

For example:

In [ ]:
sentence[0:3] #Get the 3 first characters

"I'm"

Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements are usually in the context of "up to, but not including".

In [ ]:
sentence[:]

"I'm a beginner in Python Programming Language."

We can also use negative indexing to go backwards.

In [ ]:
sentence[-1] # Last letter (one index behind 0 so it loops back around)

'.'

In [ ]:
 #Grap everything but leave out the last character
 #your code here

In [ ]:
sentence[-4:] # Get the 4 last characters

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [ ]:
# Grab everything, but go in steps size of 1
sentence[::1]

In [ ]:
 #Grap everything but  go in steps size of 1
 #your code here

In [ ]:
# We can use this to print a string backwards
sentence[::-1]

**Note that there will be no changes to the original variable.**

#### String Properties¶
It's important to note that strings have an important property known as immutability. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [ ]:
sentence[0] = 'H'

TypeError: ignored

Notice how the error tells us directly what we can't do, change the item assignment!

Something we can do is concatenate strings!

In [ ]:
sentence + ' Concatenate me!'

"I'm a beginner in Python Programming Language. Concatenate me!"

In [ ]:
sentence = sentence + ' Concatenate me!' #We can reassign statement completly
sentence

"I'm a beginner in Python Programming Language. Concatenate me!"

We can use the multiplication symbol to create repetition.

In [ ]:
letter = 'a'
print(letter)
letter*10

#### Basic Built-in String 
Strings has built-in function that can perform actions or commands on a string.

Some examples of built-in methods are:

In [ ]:
#Upper case
sentence.upper()

In [ ]:
#lower case
sentence.lower()

In [ ]:
# Split a string by blank space (this is the default)
sentence.split()

In [ ]:
# Split by a specific element (doesn't include the element that was split on)
sentence.split(".")

In [ ]:
help(str) # for others built-in function

In [ ]:
'a' in sentence # Check if a specific character IS in present in string

In [ ]:
'x' not in sentence # Check if a specific character is NOT in present in string

In [ ]:
#Substring search
if "AM" in "AMMI":
  print("AMMI")

## **Casting**

Casting in python is therefore done using predifined functions:

> **int()** - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)

> **float()** - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

> **str()** - constructs a string from a wide variety of data types, including strings, integer literals and float literals

For example, you want to add two numbers in which one existing value of a variable is an integer and the second is a string.
Then you need to use Python typecasting to convert string data type in integer before adding.

In [ ]:
a='123'
b=23
print(f'adding the string to the float : {int(a)+b}')

adding the string to the float : 146

In [ ]:
x = 2.8
print(f'Type of x before: {type(x)}')

x = int(x) # y will be 2
print(f'Type of x after: {type(x)}')

Type of x before: <class 'float'>
Type of x after: <class 'int'>

In [ ]:
y = '3'
print('Type of y before: {}'.format(type(y)))

y = int(y) # z will be 3
print('Type of y after: {}'.format(type(y)))

In [ ]:
#Not all the types!!!!
s="AMMI"
int(s)

## **Basics maths operation**

In [ ]:
a = 10
b = 3

In [ ]:
# addition
c = a + b
print('{} + {} = {}'.format(a, b, c))

In [ ]:
# substraction
c = a - b
print('{} - {} = {}'.format(a, b, c))

In [ ]:
# Multiplication
m = a * b
print('{} * {} = {}'.format(a, b, c))

In [ ]:
# exponential
e = a ** b
print('{}^{} = {}'.format(a, b, e))

In [ ]:
# floor division, // (two forward slashes)
d = a // b
print('{} // {} = {}'.format(a, b, d))

 **So what if we just want the remainder after division ?**

In [ ]:
# modulo, remainder after division
m = a % b
print('{} % {} = {}'.format(a, b, m))

10 % 3 = 1

In [ ]:
d = a / b
print('{} / {} = {}'.format(a, b, d))

10 / 3 = 3.3333333333333335

In [ ]:
# Order of operations followed in Python
2 + 10 * 10 + 3

105

In [ ]:
# Can use parentheses to specify orders

(2+10) * (10+3)

__Some shortcuts__

There's actually a shortcut for the math operations. Python lets you add, subtract, multiply and divide numbers with reassignment using +=, -=, *=, and /=.

In [ ]:
n = 2 # i want to add 1 to a

In [ ]:
n = 2
n = n + 1
print(n)

n = 2
n += 1
print(n)

In [ ]:
n = 3
n = n * 2
print(n)

n = 3
n *= 2
print(n)

### **Comparison operators**

These operators will allow us to compare variables and output a Boolean value (True or False).

**Equal ( == )**: If the values of two operands are equal, then the condition becomes true

**Different ( != )**: If values of two operands are not equal, then condition becomes true.

**greater than ( > )**: If the value of left operand is greater than the value of right operand, then condition becomes true.

**less than ( < )**: If the value of left operand is less than the value of right operand, then condition becomes true.

**greater or equal than ( >= )**: If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.

**less or equal than ( <= )**: If the value of left operand is less than or equal to the value of right operand, then condition becomes true.

**Equal**

In [ ]:
2 == 2

In [ ]:
val = 0
if val == 0:
  print('AMMI')

**Note that == is a comparison operator, while = is an assignment operator.**

**Not Equal**

In [ ]:
2 != 1

In [ ]:
2 != 2

**Greater than**

In [ ]:
2 > 2

**Less than**

In [ ]:
5 < 7

**Greater than or Equal to**

In [ ]:
2 >= 2

**Less than or Equal to**

In [ ]:
2 <= 1

#### **Chained Comparison Operators**¶
An interesting feature of Python is the ability to chain multiple comparisons to perform a more complex test. You can use these to create larger Boolean Expressions.

In [ ]:
1 < 2 < 3

It will check first if 1 is less than 2 **and** if 2 is less than 3. We could have written this using an and statement in Python:

In [ ]:
1<2 and 2<3

The and is used to make sure two checks have to be true in order for the total check to be true. Let's see another example:

In [ ]:
1 < 3 > 2

In [ ]:
1<3 and 3<2

It's important to note that Python is checking both instances of the comparisons. We can also use **or** to write comparisons in Python.

For example:

In [ ]:
1 == 2 or 2<3

## **Conditional statement**
Conditional Statements (if, elif and else) in Python allows us to tell the computer to perform alternative actions based on a certain set of results. 

Syntax format for if statements to get a better idea of this:

    if case1:
        perform action1
    elif case2:
        perform action2
    else: 
        perform action3

In [ ]:
if 2==2:
    print('The condition is True')
else:
    print('The condition is False')

In [ ]:
x = False

if x:
    print('x was True!')
else:
    print('I will be printed in any case where x is not true')

### **Multiple Branches**
Let's get a fuller picture of how far if, elif, and else can take us!

We write this out in a nested structure. Take note of how the if, elif, and else line up in the code. This can help you see what if is related to what elif or else statements.

Example:

In [ ]:
loc = 'Bank'

if loc == 'Shop':
    print('Welcome to the Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print('Where are you?')

#Part 2:

## Python Loops:

### For loop:



A `for-loop` allows you to iterate over a collection of items, and execute a block of code once for each iteration. Its general syntax is: <br><br>

    for <var> in <iterable>:  
        block of code

In [ ]:
#Simple for loop in pyhton
#We use the range() function. The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

for el in range(1,5):
  print(el)

In [ ]:
#Excersie
# Modify the arguments of the range function in the cell above to print the numbers: 4,6,8,10

In [ ]:
#to get the index also use enumerate
for i,el in enumerate(range(1,5)):
  print(i,el)

In [ ]:
l = [1, 2, 4, 3, 6, 9, 25, 32]
for el in l:
    if el % 2 == 0:
        print(el, ' is an even number.')
    else:
        print(el, ' is an odd number.')

In [ ]:
first_names= ['Kobe', 'Michael', 'Lionel', 'Sadio']
last_names = ['Bryant', 'Jordan', 'Messi', 'Mane', 'James' ]
for (j,k) in (zip(first_names, last_names)):
    print("{} {}".format(j, k))

In [ ]:
# Nested for loop
n=3
for i in range(n):
    for j in range(n):          
        print(i+j)
    print('#########')

### While Loop:

A `while-loop` allows you to repeat a block of code under certain condition. We generally use this loop if we don't know the number of times to iterate beforehand. Its general syntax is:<br><br>
`while <condition>:
    block of code`

In [ ]:
n = 10
total, i = 0, 1
while i <= n:
    total += i
    i += 1 #we need to increment i
print('The sum is: ', total)
print(total == sum(range(n+1)))

Example 5: We can set a stopping condition for the while loop and until the condition is satisfied, the loop does not end. Care must be taken to avoid *infinite loop* where the  block of code runs forever because the condition is never satisfied.

In [ ]:
#Modify the code somehow so that the loop terminate at some point

satisfied = False
n = 5
i = 0
while not satisfied:
  print(i)
  if i >= n:
    satisfied = True
  i +=1

### break and continue statements:

`break` clause can be used to stop iteration or exiting in a given loop.

In [ ]:
# breaking out of a loop early
num = 3
l = [1, 2, 3, 4, 5]
for item in l:
    if item == num:
        print(item, "found. break!")
        break
    print(item, "next iteration")

`else` clause can be used at the end of any loop. It will be executed if the loop was not executed with a `break` clause.

In [ ]:
#try to remove the if statenment
num = 4
for item in [1, 2, 3, 4, 4]:
    if item == num:
        print(item, "found. break!")
        break                     
    print(item, "next iteration")
else:
    print('There is no ',num, ' in the list.' )

It returns the control to the beginning of the loop. It skips the current iteration ONLY!!!!

In [ ]:
x = 1
num = 2
while x < 4:
    if x == num:
        print('skip', num)
        x+=1
        continue
        
    print(x)
    x += 1

In [ ]:
#The continue and break statements terminate the inner loop only
n=5
for i in range(1,n):
    for j in range(1,n):
        if i==j:
              continue                 
        print(i+j)
    break

## Python Functions:

In [ ]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (docstring) goes
    '''
    
    # Do stuff here
    # Return desired result

## Using return
Let's see some example that use a <code>return</code> statement. <code>return</code> allows a function to *return* a result that can then be stored as a variable, or used in whatever manner a user wants.

### Example 2: Addition function

In [ ]:
def square(num):
    return num**2

square(2)

In [ ]:
#We can pass a default value for the parameter
def square(num=4):
    return num**2

square()

In [ ]:
#If you dont know the exact number of argumnets use the *
def sum2(*args):
  print("You passed: ",args)
  return sum(args)
sum2(32,3)

## Lambda expressions

lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

This is the form a function that a lambda expression intends to replicate. A lambda expression can then be written as:

In [ ]:
lambda num: num ** 2

In [ ]:
# You wouldn't usually assign a name to a lambda expression, this is just for demonstration!
square = lambda num: num **2

In [ ]:
square(2)

In [ ]:
d = {'a':3, 'b':2}


def fun(x):
  return x[1]

print(sorted(d.items(), key=fun))

# sorted(d.items(), key=lambda x:x[1])