#Data-Structures

###Content

**Builtin Data structures:**

*   Lists
*   tuples  
*   Sets
*   Dictionaries





**Implementing data structures:**


*   Stack
*   Queue  
*   Linked List

# What are Data Structures ?

Data structure is a storage that is used to store and organize data. It is a way of arranging data on a computer so that it can be accessed and updated efficiently.

#Lists:

* Are ordered collection of items
* Dynamic size
* Mutable ( Objects whose value can change are said to be mutable; objects whose value is unchangeable once they are created are called immutable.)

# List initialization

### Using list constructor

In [ ]:
list_1 = list() # Creating empty list

### Using square brackets:

In [ ]:
list_2 = [10, 20, 30, 40] # Anthor way to create list

###Using list comprehension:

In [ ]:
list_3 = [i for i in range(10)]

In [ ]:
list_3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Accessing the first element of the list

In [ ]:
print("The first element of list_2 is", list_2[0])

The first element of list_2 is 10

# Appending to a list:

In [ ]:
list_1.append(10) # adding 10 to the list items. 

list_1.append(20) # adding 10 to the list items. 
list_1.append(10) # adding 10 to the list items. 
print("list_1 after append 10, 20 and 10", list_1)

list_1 after append 10, 20 and 10 [10, 20, 10]

# Removing from a list:

In [ ]:
list_2.remove(20)
print("list_2 after removing 20", list_2)

list_2 after removing 20 [10, 30, 40]

# Extending another list:

In [ ]:
list_1.extend(list_2) # Adding all elements from the list_2 to list_1
print("list_1 after extending list_2",list_1)

list_1 after extending list_2 [10, 20, 10, 10, 30, 40, 10, 30, 40]

 # List concatenation:

In [ ]:
list_3 = ["cat", "dog"]
list_4 = list_1 + list_3
print("list_4", list_4)

list_4 [10, 20, 10, 10, 30, 40, 10, 30, 40, 'cat', 'dog']

# Sum of elements inside a list:

In [ ]:
l = [x for x in range(1,4)]
sum(l[::])

6

# insert to a given index:

In [ ]:
l.insert(0, "zero")

In [ ]:
l

['zero', 1, 2, 3]


<font  color="white"> <b> Question 1</b><br/>
 Dot product of vectors
Vectors are mathematical objects that are often used to represent the inputs to neural networks. One way to view the vectors is as list of items. Complete the following code to compute dot product of two vectors. Dot product is defined the following equation:-
</font>

$$
x.y = <x, y> = x^Ty = \sum_{i}^n x_iy_i
$$

<font  color="white"> 
Assume that only lists are passed to the function and they also contain only numeric datatype.

</font>

In [ ]:
def dot_prod(vec_1, vec_2):
  """
  Computer dot product of two vectors. The vectors are list of numbers
  and have same length, i.e len(vec_1) == len(vec_2). 
  Parameters
  ----------
  vec_1 : list
    The first vector
  vec_2: list
    The second vector
  Returns
  -------
  float
    The dot product of the vec_1 and vec_2

  Examples
  --------
  >>> dot_prod([1, 2], [3, 4])
  11
  >>> dot_prod([1, 3, 4], [0, 1, 0])
  3
  """

  output = 0
  ##### WRITE YOUR CODE HERE #####
  # l = len(vec_1)
  # for i in  range(l):
  #   output += vec_1[i] * vec_2[i]
  output=sum([i*j for i,j in zip(vec_1,vec_2)])
    


          
  #### END CODE ####
  return output

In [ ]:
dot_prod([1, 2, 3], [6, 8, 0])

22

<font  color="white"> <b> Question 2</b><br/>
Write a function to compute the squared norm of a vector. You can make the same assumption about vectors as in question 1.
Squared norm of a vector $\mathbf{x}$ is give by the following equation
</font>
$$
  \left|\mathbf{x}\right|^2 = \sum_i^n x_i^2
$$
<font  color="white">
You are allowed to use the `dot_prod` function you defined above.
</font>

In [ ]:
def squared_norm(vec):
  """
  Compute the squared norm of vector. 
  Parameters
  ----------
  vec : list
    The vector
  
  Returns
  -------
  float
    The squared norm of the vector

  Examples
  --------
  >>> squared_norm([1, 2])
  5
  >>> squared_norm([1, 3, 4])
  26
  """

  
  ##### WRITE YOUR CODE HERE #####
  # k=sum([i**2 for i in vec])
  # return k
  for i in range(len(vec)):
    return dot_prod(vec,vec)

  #### END CODE ####

In [ ]:
squared_norm([1, 3, 4])

26

### Nested Lists
Arrays in machine learning are often in high dimensional. E.g Matrix, RGB image, Video.

Matrix can be represented list of rows and each row of the matrix is also another list. This is an example of nested list. 
```python
matrix = [
          [1, 2],
          [3, 4]
        ]
```
With nested list we can use multiple level of indexing. For example to access 3 in the above matrix we can use the following the following snipt of code.

```python
matrix[1][0]
```

Nested for loop can be used to iterate over rows and columns of each rows.

```python
for i in range(len(matrix)):
  for j in range(len(matirx[i])):
    print(matrix[i][j])
```

In [ ]:
matrix = [
          [1, 2],
          [3, 4]
        ]
for i in range(len(matrix)):
  for j in range(len(matrix[i])):
    print(matrix[i][j])

1
2
3
4


### tuples
* Similar to lists but with some difference
* Are ordered collection of items
* fixed size
* Immutable

In [ ]:
t1 = (10, 20, 30, 40) # Creating tuple
print("The first element of t1 is", t1[0]) # accessing the first element of the tuple


t2 = ("cat", "dog")
t3 = t1 + t2 # tuple concatenation
print("t3", t3)

The first element of t1 is 10
t3 (10, 20, 30, 40, 'cat', 'dog')

### Tuples are imutable:

In [ ]:
mytuple = (1, 2, 3)
mytuple[0] = 999

TypeError: ignored

#### Type conversion
Lists and tuples are ordered items. Conversion from one to another is possible.

```python
l1 = [1, 2, 3]
t1 = tuple(l1) # Convert list to tuple
t2 = [2, 4, 1]
l2 = list(t2) # Conver to tuple

```

## Sets
* Are Unordered collection of items
* They are mutable
* The elements of set are unique(No duplication)

There are alot of ways to create a set in python:

In [ ]:
s1 = set() # Creating empty sets
print("s1", s1)
s2 = set([1, 3, 4])
print("s2", s2)
s3 = {1, 3, 4} 
print("s3",s3)
s4 = set((1, 3, 4))
print("s4", s4)

## Set operations

In [ ]:
s5 = {1, 3, 4} 
s5.add(5)
s5

{1, 3, 4, 5}

In [ ]:
dir(s3)

In [ ]:
# Create a set 

A = [3,3,2,4]
B = [2,5,8]

print(set(A))
print(set(B))

In [ ]:
A = set([1, 2, 3, 5])
B = set([2, 3, 6, 4, 8])
A

{1, 2, 3, 5}

## Union

In [ ]:
print("A v B = {}".format(A | B))

A v B = {1, 2, 3, 4, 5, 6, 8}

## Intersection

In [ ]:
print("A n B = {}".format(A & B))

A n B = {2, 3}

## relative complement

In [ ]:
print("A / B = {}".format(A - B))

A / B = {1, 5}

In [ ]:
print("B / A = {}".format(B - A))

B / A = {8, 4, 6}

In [ ]:
s6 = {1, 3, 4,6,8}
s7 = {2, 3, 4,6,8} 
s6.difference(s7)

{1}

## Dictionaries

* Collection of key, value pairs
* A key is unique, but value could be diplicate.
* Keys should be hashable.
* More on Dictionaries [here](https://realpython.com/python-dicts/)

In [ ]:
d1 = {} # Creating empyt dictionary
print("d1", d1)
d2 = dict() # Another way to create empty dictionary
print("d2", d2)
d3 = {"one":1, "two":2, "three":3} # Creating dictionary with elements
print("d3", d3)
d4 = dict(one=1, two=2, three=3) # The same as d3 but different intialization
print("d4", d4)
d5 = dict([("one", 1), ("two", 2), ("three", 3)]) # The same as d3 but different intialization
print("d5", d5)

d1 {}
d2 {}
d3 {'one': 1, 'two': 2, 'three': 3}
d4 {'one': 1, 'two': 2, 'three': 3}
d5 {'one': 1, 'two': 2, 'three': 3}

In [ ]:
def add_2(l):
  return {l[i]:l[i] + 2 for i in range(len(l))}

In [ ]:
l1=[1,2,3,4]
l=add_2(l1)
l

{1: 3, 2: 4, 3: 5, 4: 6}

## Stacks

* Python doesn't provide stack builtin implementations
* Last In First Out ADT
* Have the following operations
  * Push: adds an element on top of the stack
  * Pop: removes an element from the top of the stack<br/>
  * empty: Checks if the stack is empty
  <b>Optionally</b>
  * Peek: To see the top elements
  * Size: Retrieves the number of elements of the stack




### Implementing stacks with list
* `append()` method of list for push operation
* `pop()` method of list for pop operation
* indexing with last index for peek operation
* list.__len__() == 0 for empty operation 
* list.__len__() for size operation

In [ ]:
stack = list()
stack.append("AMMI") # Push operation
element = stack.pop() # Pop operation
print("element", element)
print("Is empty: ", len(stack)==0) # Empty operation
print("Size", len(stack))

element AMMI
Is empty:  True
Size 0

In [ ]:
l=[1,2,3,4,6,7]
len(l)==6

True

In [ ]:
#dir(stack)

## Queues
* Similar to stack
* First In First Out(FIFO) ADT
* Python provides [deque objects](https://docs.python.org/3/library/collections.html#collections.defaultdict), to implement queue

## Linked Lists

* Another implementation of List ADT
* Each element has reference to next element(which could be for tail)
* Have two properties, head node and tail node


<img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Linked_list_data_format.jpg"/><br/>
<b>fig src:[https://upload.wikimedia.org/wikipedia/commons/b/bf/Linked_list_data_format.jpg](https://upload.wikimedia.org/wikipedia/commons/b/bf/Linked_list_data_format.jpg)</b>

### Linked List - Node
* Each element in linked list
* Has two properties
  * Value
  * Next

# Assignment:

#<font  color="white"> <b>
 Question 1

Create a function to add two matrix defined by nested list. Assume both matrices have the same number of rows and columns.

In [ ]:
def add_matrix(matrix_1, matrix_2):
  """
  Adds two matrix
  Parameters
  ----------
  matrix_1 : list
    A matrix defined by nested list 
  matrix_2 : list
    A matrix defined by nested list 
  Returns
  -------
  list
    A matrix, sum of the two matrices.

  Examplesfor r in output:for r in output:for r in output:
    
  >>> add_matrix([[1, 2], [2, 3]], [[4, 1], [5, 0]])
  [[5, 3], [7, 3]]

  """
  output = None
  ##### WRITE YOUR CODE HERE #####
  output = [[matrix_1[i][j] + matrix_2[i][j]  for j in range(len(matrix_1[0]))] for i in range(len(matrix_1))]

  #### END CODE ####

  
  return output;

In [ ]:
a=add_matrix([[1, 2], [2, 3]], [[4, 1], [5, 0]])
a

[[5, 3], [7, 3]]

#<font  color="white"> <b>

 Question 2

Let's now use tuples to represent vectors. It would be even very convenient to use tuples than list to create vectors becuase basically vectors are fixed length. 


Create function to add to vectors. The addition of two vectors is given by the following equation.


$$
  z_i = (\mathbf{x} + \mathbf{y})_i = x_i + y_i 
$$

In [ ]:
def add_vectors(vec_1, vec_2):
  """
  Computer addition of two vectors. The vectors are tuples of numbers
  and have same length, i.e len(vec_1) == len(vec_2). 
  Parameters
  ----------
  vec_1 : tuple
    The first vector
  vec_2: tuple
    The second vector
  Returns
  -------
  tuple
    The summition of the vec_1 and vec_2

  Examples
  --------
  >>> add_vectors([1, 2], [3, 4])
  [4, 6]
  >>> add_vectors([1, 3, 4], [0, 1, 0])
  [1, 4, 4]
  """

  output = None
  ##### WRITE YOUR CODE HERE #####
  output=[a+b for a,b in zip(vec_1,vec_2)]
  

  #### END CODE ####

  
  return output;

In [ ]:
a=add_vectors([1, 3, 4], [0, 1, 0])
a

[1, 4, 4]

#<font  color="white"> <b> 

Question 3

Write a function to find the elements of two sets that are in only in one of the sets. Using loop is not allowed. Use only operation on set.

In [ ]:
def intersection_complement(set_a, set_b):
  """
  Find set of items that are only in one of the sets.
  Parameters
  ----------
  set_a : set
    A set with elements zero ore more
  set_b : set
    A set with elements zero ore more
  
  
  Returns
  -------
  set
    Set containing elements which are in only one of the sets

  Examples
  --------
  >>> intersection_complement({1, 2, 3}, {3, 4, 6})
  {1, 2, 4, 6}
  >>> intersection_complement(set(), {3, 4, 6})
  {3, 4, 6}
  """

  output = None
  ##### WRITE YOUR CODE HERE #####

    

  #### END CODE ####

  
  return output

#<font  color="white"> <b> 

Question 4

Implement the Stack data structure and its methods using a class named Stack
- pop
- add
- empty
- top

#<font  color="white"> <b> 

Question 5


Implement the Queue data structure and its methods using a class named Queue (hint: use deque method.)

#<font  color="white"> <b> 
Question 6

Implement Linked List class and its methods:
- insert_at_start
- insert
- insert_at_end
- display
- delete

</font>

#<font  color="white"> <b>

 Question 7

we have'(', ')', '{', '}', '[' and ']', determine if the input string is valid.
The String is valid if and only if: \\
bracket must be closed by the same type of brackets. \\
brackets must be closed in the correct order.

(Try your fuction with different test cases.)

#<font  color="white"> <b> 
Question 8. 

Write a Python program to get the largest number from a list. \\
Sample List : [14, 23, 33, 34, 542, 234, 4, 10] \\
Expected Result : 542

In [ ]:
List= [14, 23, 33, 34, 542, 234, 4, 10]
def Largest(List):
    number = List[0]
    for i in List:
        if i > number:
            number = i
    return number
print(Largest(List))

542

In [ ]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

#<font  color="white"> <b> 
Question 9

Write a Python program to remove duplicates from a list. \\
Sample List : [4, aba, 3, room, aba, 33, 4, room] \\
Expected Result : [4, aba, 3, room, 33]

In [ ]:
List =[4, 'aba', 3, 'room', 'aba', 33, 4, 'room']
L=[]
for i in List:
    if i not in L:
        L.append(i) 
print(L)

[4, 'aba', 3, 'room', 33]

#<font  color="white"> <b>

 Question 10

Write a Python program to check if a set is a subset of another set.

In [ ]:
def Set(a,b):
  for i in range(len(a)):
    if len(a)> len(b):

#<font  color="white"> <b> 

Question 11

Write a Python program to check if two given sets have no elements in common.

#<font  color="white"> <b>

 Question 12


writ a function to determine if a given singly linked list is a palindrome or not, if it is a palindrome return True, if it's not return False.
for example 2-->3-->3--->2 is True. \\
(Try your fuction with different test cases.)

#<font  color="white"> <b> 

Question 13

writ a function to reverse a linked list. \\
(Try your fuction with different test cases.)

#<font  color="white"> <b> 

Question 14

Write a function to remove duplicate elements from a list. The order might be changed. Do this exercise without using loops.

#<font  color="white"> <b> 
Question 15

create a class Matrix that supports operations/methods:
- addition
- subtraction
- multiplication
- scalar multiplication
- transpose